<div class="side-menu p-relative">
  <img [src]="imageUrl + item?.backdrop_path" alt="menu" class="backdrop-img ">
  <ion-item class="p-absolute profile-avatar">
    <ion-avatar item-start>
      <img [src]="imageUrl + item?.poster_path" class="poster-image">
    </ion-avatar>
    <div class="text-info-wrapper">
      <div *ngIf="mode == 'movie'" class="f-white" style="font-size: 15px;">{{ item?.title }}</div>
      <div *ngIf="mode == 'tv'" class="f-white" style="font-size: 15px;">{{ item?.name }}</div>
      <div *ngIf="mode == 'movie'" class="f-white" style="font-size: 12px;white-space: normal;">{{ item?.tagline }}</div>
    </div>
  </ion-item>
</div>
<ion-segment [(ngModel)]="mediaSegment">
  <ion-segment-button value="info">
    Info
  </ion-segment-button>
  <ion-segment-button value="media">
    Media
  </ion-segment-button>
  <ion-segment-button value="reviews">
    Reviews
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="mediaSegment">
  <div *ngSwitchCase="'info'">
    <div class="col">
      <label class="col"><b>Genres</b></label>
      <div class="col">
        <span *ngFor="let genre of item?.genres; let i = index">
          <span *ngIf="i<item?.genres.length-1">{{ genre.name }}, </span>
          <span *ngIf="i==item?.genres.length-1">{{ genre.name }}</span>
        </span>
      </div>
    </div>
    <div class="col" *ngIf="mode == 'movie'">
      <label class="col"><b>Runtime</b></label>
      <span class="col">{{item?.runtime}} minutes</span>
    </div>
    <div class="col">
      <label class="col"><b>Rating</b></label>
      <span class="col"><i class="fa fa-star"></i> {{item?.vote_average}}</span>
    </div>
    <div class="col" *ngIf="mode == 'movie'">
      <label class="col"><b>Release Date</b></label>
      <span class="col">{{item?.release_date}}</span>
    </div>
    <div class="col">
        <label class="col"><b>Overview</b></label>
      <span class="col text-wrap">{{item?.overview}}</span>
    </div>
    <div class="col" *ngIf="item?.production_companies.length">
      <label class="col"><b>Production Companies</b></label>
      <span *ngFor="let productionCompany of item?.production_companies" class="p-3">
        <img [src]="imageUrl+productionCompany.logo_path" class="production-logo">
      </span>
    </div>
  </div>
  <div *ngSwitchCase="'media'" class="col">
    <div *ngFor="let video of item?.videos?.results" (click)="playVideo(video)" class="col">
      <a style="color: #007bff;">{{ video.name }}</a>
    </div>
  </div>
  <div *ngSwitchCase="'reviews'" class="col">
    <div *ngFor="let review of movieReviews?.results" class="col">
      <b>{{review?.author}}</b> - {{review?.content}}.
    </div>
    <ion-infinite-scroll *ngIf="page < movieReviews?.results.total_pages" (ionInfinite)="loadMoreReviews($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>