page-movie-details {

    .backdrop-img {
        height: 35vh;
        width: 100%;
    }

    .poster-image{
        border-radius: 10% !important;
        overflow: hidden !important;
        width: 85px !important;
        height: 85px !important;
    }
}
