<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="mode == 'movie'">{{selectedItem?.title}}</ion-title>
    <ion-title *ngIf="mode == 'tv'">{{selectedItem?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <movie-details [(mode)]="mode" [(item)]="movieDetails"></movie-details>
</ion-content>
