<ion-content>
  <list-movies [(mode)]="mode" [(items)]="listItems"></list-movies>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>