<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TV Shows</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab tabIcon="calendar" tabTitle="On Air" [root]="tvOnAirTab"></ion-tab>
    <ion-tab tabIcon="thumbs-up" tabTitle="Popular" [root]="tvPopularTab"></ion-tab>
    <ion-tab tabIcon="star" tabTitle="Top Rated" [root]="tvTopRatedTab"></ion-tab>
  </ion-tabs>
</ion-content>
