<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <img *ngIf="item.thumbnail" [src]="item.thumbnail?.source" class="wiki-thumbnail">
      <img *ngIf="!item.thumbnail" src="../../assets/imgs/blank-img.jpeg" class="wiki-thumbnail">
      <div class="pt-3 pb-2">{{item.title}}</div>
      <div class="item-note">
        {{ item.coordinates[0]?.dist | distanceToKm }}
      </div>
      <i item-end [ngClass]="{'fa-star' : _.includes(favoriteArray, item.pageid) == true, 'fa-star-o' : _.includes(favoriteArray, item.pageid) == false}" (click)="setFavorite(item);$event.stopPropagation()" class="fa favorite" aria-hidden="true"></i>
      <!-- <i item-end [ngClass]="{'fa-star' : _.filter(favoriteArray, function(o) => { return o.pageid == item.pageid; }).length > 0}" (click)="setFavorite(item);$event.stopPropagation()" class="fa favorite" aria-hidden="true"></i> -->
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
