<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entertainment</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <button ion-button color="light" class="p-0 m-0 option-button" clear (click)="goToType('movie')">
    <img src="../../assets/imgs/entertainment/movie-collage.jpg" class="option-image">
    <h1 class="option-title">Movies</h1>
  </button>
  <button ion-button color="light" class="p-0 m-0  option-button" clear (click)="goToType('tv')">
    <img src="../../assets/imgs/entertainment/tv-collage.jpg" class="option-image">
    <h1 class="option-title">TV Shows</h1>
  </button>
</ion-content>
