page-entertainment {
    .option-button{
        height: 50%;
    }

    .option-image{
        height: 100%
    }

    .option-title{
        position: absolute;
        font-size: 6rem;
        background: #27272775;
        color: #c7c7c7;
        padding: 10px;
        border-radius: 20px;
    }

}
