<ion-header>
  <ion-navbar>
    <ion-searchbar class="pr-3" (ionInput)="getItems(searchQuery)" [(ngModel)]="searchQuery" placeholder="Search Wikipedia"></ion-searchbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="search-list">
    <ion-item class="pl-0" *ngFor="let item of searchItems">
      <ion-thumbnail item-start>
          <img *ngIf="item.thumbnail" [src]="item.thumbnail?.source" class="wiki-thumbnail">
          <img *ngIf="!item.thumbnail" src="../../assets/imgs/blank-img.jpeg" class="wiki-thumbnail">
      </ion-thumbnail>
      <p class="title text-truncate">{{item.title}}</p>
      <p class="description text-truncate">{{item.description}}</p>
      <button ion-button clear item-end (click)="itemTapped($event, item)">View</button>
    </ion-item>
  </ion-list>
</ion-content>
