<ion-list>
  <!-- <button ion-button clear item-end > -->
  <ion-item *ngFor="let item of items" (click)="viewDetails(item)">
    <ion-thumbnail item-start>
      <img [src]="imageUrl+item?.poster_path">
    </ion-thumbnail>
    <h3 *ngIf="mode == 'movie'">{{ item?.title }}</h3>
    <h3 *ngIf="mode == 'tv'">{{ item?.name }}</h3>
    <p class="movie-details"><i class="fa fa-star"> {{ item?.vote_average }}</i></p>
    <p *ngIf="mode == 'movie'" class="movie-details">{{ item?.release_date }}</p>
  </ion-item>
<!-- </button> -->
</ion-list>