<ion-menu [content]="content">
  <ion-content>
    <div class="side-menu p-relative">
      <img src="../assets/imgs/sidemenu-bg.jpg" alt="menu" class="side-menu-img">
      <ion-item class="p-absolute profile-avatar">
        <ion-avatar item-start>
          <img class="avatar-image" src="../assets/imgs/profile-pic.jpg">
        </ion-avatar>
        <h3 class="f-white">Tharindu Gamage</h3>
      </ion-item>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <i class="fa fa-home" *ngIf="p.title == 'Home'"></i>
        <i class="fa fa-map-marker" *ngIf="p.title == 'Nearby'"></i>
        <i class="fa fa-film" *ngIf="p.title == 'Entertainment'"></i>
        <i class="fa fa-book" *ngIf="p.title == 'Books'"></i>
        <i class="fa fa-star" *ngIf="p.title == 'Favorites'"></i>
        <span class="pl-3">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>