// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.side-menu-img{
    height: 30vh;
    width: 100%;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.profile-avatar{
    bottom: 0;
    background: none;
}

.f-white{
    color: white;
}

.b-none{
    border: none;
}

.wiki-thumbnail{
    width: 150px;
}

.text-truncate{
    text-overflow: ellipsis;
}

.favorite{
    font-size: 25px;
    color: #ffae00;
}

.avatar-image{
    border-radius: 50%!important;
    overflow: hidden!important;
    width: 40px!important;
    height: 40px!important;
}

.text-wrap{
    white-space: normal;
}