<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab tabIcon="filing" tabTitle="Genre" [root]="movieGenreTab"></ion-tab>
    <ion-tab tabIcon="thumbs-up" tabTitle="Top Rated" [root]="movieTopRatedTab"></ion-tab>
    <ion-tab tabIcon="calendar" tabTitle="Upcoming" [root]="movieUpcomingTab"></ion-tab>
  </ion-tabs>
</ion-content>
